{{> accounts-header}}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Account Settings</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="list-group">
                <a href="/" class="list-group-item list-group-item-action d-flex"><i class="material-icons align-self-center">keyboard_backspace</i> Back to home</a>
                <a href="#change-password" class="list-group-item list-group-item-action d-flex">Change password</a>
                <a href="#account-data" class="list-group-item list-group-item-action d-flex">Change profile data</a>
                <a href="#avatar" class="list-group-item list-group-item-action d-flex">Change avatar</a>
                <a href="#email-address" class="list-group-item list-group-item-action d-flex">Change email address</a>
                <a href="#agreements" class="list-group-item list-group-item-action d-flex">Change agreements</a>
                <a href="#close-account" class="list-group-item list-group-item-action d-flex">Close account</a>
                <a href="/accounts/logout" class="list-group-item list-group-item-action d-flex">Logout</a>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="mt-4" id="change-password">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-left">Change password</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/accounts/password">
                            <div class="form-group">
                                <label>Current password</label>
                                <input type="password" class="form-control" name="current-password" placeholder="Current password">
                            </div>
                            <div class="form-group">
                                <label>New password (must be at least 8 characters)</label>
                                <input type="password" class="form-control" name="new-password" placeholder="New password" pattern=".{8,}" required>
                            </div>
                            <div class="form-group">
                                <label>Repeat new password</label>
                                <input type="password" class="form-control" name="repeat-new-password" placeholder="Repeat new password" pattern=".{8,}" required>
                            </div>
                            <input type="hidden" name="_csrf" value="{{csrf}}" hidden/>
                            <button type="submit" class="btn btn-primary">Change</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="mt-4" id="account-data">
                <div class="card">
                    <div class="card-header" >
                        <h4>Account data</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/accounts/data">
                            <div class="form-group">
                                <label>Nickname</label>
                                <input type="text" class="form-control" name="nickname" placeholder="Nickname visible to others">
                            </div>
                            <input type="hidden" name="_csrf" value="{{csrf}}" hidden/>
                            <button type="submit" class="btn btn-primary">Change</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="mt-4" id="avatar">
                <div class="card">
                    <div class="card-header" >
                        <h4>Avatar</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/accounts/avatar?_csrf={{csrf}}" enctype="multipart/form-data">
                            <img src="#" class="img-thumbnail img-fluid mb-4">
                            <div class="form-group">
                                <label>Update avatar (max 500kB, PNG and JPEG allowed)</label>
                            </div>
                            <div class="form-group">
                                <input type="file" name="avatar" accept="image/png,image/jpeg,image/jpg">
                            </div>
                            <button type="submit" class="btn btn-primary">Change</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="mt-4" id="email-address">
                <div class="card">
                    <div class="card-header" >
                        <h4>Email address</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/accounts/email">
                            <label>Every time when you change email, you must verify it once again</label>
                            <div class="form-group">
                                <label>Email address</label>
                                <input type="text" class="form-control" name="email" placeholder="Contact email address">
                            </div>
                            <div class="form-group">
                                <label>Confirm your current password</label>
                                <input type="password" class="form-control" name="current-password" placeholder="Current password">
                            </div>
                            <input type="hidden" name="_csrf" value="{{csrf}}" hidden/>
                            <button type="submit" class="btn btn-primary">Change</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="mt-4" id="agreements">
                <div class="card">
                    <div class="card-header" >
                        <h4>Agreements</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/accounts/agreements">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="newsletter"> Send me information about new products and services, deals or recommendations by my mail.
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="marketing"> I accept the sending of advertising material related to relevant third-party products and services, via email.
                                </label>
                            </div>
                            <input type="hidden" name="_csrf" value="{{csrf}}" hidden/>
                            <button type="submit" class="btn btn-primary">Change</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="mt-4" id="close-account">
                <div class="card">
                    <div class="card-header" >
                        <h4>Close account</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/accounts/close">
                            <div class="form-group">
                                <label>Confirm your current password to proceed removal</label>
                                <input type="password" class="form-control" name="current-password" placeholder="Current password">
                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="confirm"> Deleting your account is an irreversible process, which we can't revert even if you perform it by accident. I understand and accept this.
                                </label>
                            </div>
                            <input type="hidden" name="_csrf" value="{{csrf}}" hidden/>
                            <button type="submit" class="btn btn-danger">Close account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> accounts-footer}}
