<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Settings - {{metadata.NAME}}</title>
    <link rel="stylesheet" href="/accounts/bootstrap.min.css">
    <meta name="keywords" content="{{metadata.KEYWORDS}}"/>
    <meta name="description" content="{{metadata.DESCRIPTION}}"/>
    <meta name="subject" content="{{metadata.CATEGORY}}">
    <meta name="copyright" content="{{metadata.COMPANY_NAME}}">
    <meta name="language" content="{{metadata.LANGUAGE}}">
    <meta name="robots" content="{{metadata.ROBOTS}}" />
    <meta name="abstract" content="{{metadata.DESCRIPTION}}">
    <meta name="topic" content="{{metadata.CATEGORY}}">
    <meta name="summary" content="{{metadata.DESCRIPTION}}">
    <meta name="classification" content="{{metadata.CATEGORY}}">
    <meta name="author" content="{{metadata.COMPANY_NAME}}, {{metadata.CONTACT_EMAIL}}">
    <meta name="designer" content="{{metadata.COMPANY_NAME}}">
    <meta name="copyright" content="{{metadata.COMPANY_NAME}}">
    <meta name="reply-to" content="{{metadata.CONTACT_EMAIL}}">
    <meta name="owner" content="{{metadata.COMPANY_NAME}}">
    <meta name="url" content="{{metadata.URL}}">
    <meta name="identifier-URL" content="{{metadata.URL}}">
    <meta name="directory" content="{{metadata.CATEGORY}}">
    <meta name="category" content="{{metadata.CATEGORY}}">
    <meta name="rating" content="{{metadata.RATING}}">
    <meta name="og:title" content="{{metadata.NAME}}"/>
    <meta name="og:type" content="{{metadata.CATEGORY}}"/>
    <meta name="og:url" content="{{metadata.URL}}"/>
    <meta name="og:image" content="{{metadata.COVER_IMAGE}}"/>
    <meta name="og:site_name" content="{{metadata.NAME}}"/>
    <meta name="og:description" content="{{metadata.DESCRIPTION}}"/>
    <style>
        .grecaptcha-badge { visibility: hidden; }
    </style>
</head>
<body>
